.blog-detail .item:nth-child(1), .project-detail .item:nth-child(1) {
  background: url(../img/etravel.jpg); }
.blog-detail .item:nth-child(2), .project-detail .item:nth-child(2) {
  background: url(../img/etravel2.jpg); }
.blog-detail .item:nth-child(3), .project-detail .item:nth-child(3) {
  background: url(../img/etravel3.jpg); }

.blog-detail .carousel-fade .carousel-indicators li, .project-detail .carousel-fade .carousel-indicators li {
  border-color: #fdb71e; }
.blog-detail .carousel-fade .carousel-indicators .active, .project-detail .carousel-fade .carousel-indicators .active {
  background-color: #fdb71e; }

.bg-etravel{
    background: #fdb71e;
    border: 1.2px solid #fdb71e;
}

.bg-etravel:hover{
    background-color: #fdb71e;
}
