.blog-detail .item:nth-child(1), .project-detail .item:nth-child(1) {
  background: url(../img/tarjeta2.jpg); }
.blog-detail .item:nth-child(2), .project-detail .item:nth-child(2) {
  background: url(../img/tarjeta3.jpg); }
.blog-detail .item:nth-child(3), .project-detail .item:nth-child(3) {
  background: url(../img/tarjeta.jpg); }

.blog-detail .carousel-fade .carousel-indicators li, .project-detail .carousel-fade .carousel-indicators li {
  border-color: #0ec174; }
.blog-detail .carousel-fade .carousel-indicators .active, .project-detail .carousel-fade .carousel-indicators .active {
  background-color: #0ec174; }

.bg-tarjeta{
    background: #0ec174;
    border: 1.2px solid #0ec174;
}

.bg-tarjeta:hover{
    background-color: #0ec174;
}
