<section class="work-container">
  <section class="bg-sky"></section>
  <section class="work-info">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false"
      space-between="30" centered-slides="true" autoplay-delay="2000" effect="fade" cssMode="true"
      autoplay-disable-on-interaction="true">
      <swiper-slide lazy="true">
        <img loading="lazy" [src]="'assets/projects/amigo_vip/amigovip.jpg'" alt="Amigo Vip" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/amigo_vip/amigovip2.jpg'" alt="Amigo Vip" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/amigo_vip/amigovip3.jpg'" alt="Amigo Vip" />
      </swiper-slide>
    </swiper-container>

    <aside class="work-description">
      <section class="description-info">
        <h2>Información</h2>
        <p>
          Es una empresa de taxi que brinda servicios de taxi remisse, ejecutivo, courier, etc.
        </p>
      </section>
      <section class="description-client">
        <h2>Cliente</h2>
        <p>Amigo Vip</p>
      </section>
      <section class="description-social">
        <a class="link-website bg-amigo-vip" href="https://grupoamigovip.com/" target="_blank"
          rel="noopener noreferrer">
          Website
        </a>
        <ul>
          <li>
            <span class="material-symbols-outlined">
              calendar_month
            </span>
            12/07/2018
          </li>
          <li>
            <span class="material-symbols-outlined">
              directions_car
            </span>
            Transporte
          </li>
        </ul>
      </section>
    </aside>
  </section>

  <section class="work-navigation bg-amigo-vip">
    <a href="works/taxipacifico">
      <span class="material-symbols-outlined">
        arrow_back
      </span>
      Taxi Pacífico
    </a>

    <a href="works/tarjeta">
      Tarjeta Navideña
      <span class="material-symbols-outlined">
        arrow_forward
      </span>
    </a>
  </section>
</section>

<section class="visit">
  <h1 class="primary-color">¡Gracias por tu visita!</h1>
  <h2>Carlos' Portfolio © {{ infoService.getYear() }}</h2>
</section>
