<section class="work-container">
  <section class="bg-sky"></section>
  <section class="work-info">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false"
      space-between="30" centered-slides="true" autoplay-delay="2000" effect="fade" cssMode="true"
      autoplay-disable-on-interaction="true">
      <swiper-slide lazy="true">
        <img loading="lazy" [src]="'assets/projects/tis_company/tcompany.jpg'" alt="Tis Company" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/tis_company/tcompany2.jpg'" alt="Tis Company" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/tis_company/tcompany3.jpg'" alt="Tis Company" />
      </swiper-slide>
    </swiper-container>

    <aside class="work-description">
      <section class="description-info">
        <h2>Información</h2>
        <p>
          Es una empresa especialista en la organización integral de eventos corporativos
          e institucionales, marketing, BTL y capital humano a nivel nacional.
        </p>
      </section>
      <section class="description-client">
        <h2>Cliente</h2>
        <p>Tis Company</p>
      </section>
      <section class="description-social">
        <a class="link-website bg-tis-company cancel-cursor">
          Website
        </a>
        <ul>
          <li>
            <span class="material-symbols-outlined">
              calendar_month
            </span>
            04/09/2018
          </li>
          <li>
            <span class="material-symbols-outlined">
              celebration
            </span>
            Eventos
          </li>
        </ul>
      </section>
    </aside>
  </section>

  <section class="work-navigation bg-tis-company">
    <a href="works/triptico">
      <span class="material-symbols-outlined">
        arrow_back
      </span>
      Tríptico
    </a>

    <a href="works/supervielle">
      Banco Supervielle
      <span class="material-symbols-outlined">
        arrow_forward
      </span>
    </a>
  </section>
</section>

<section class="visit">
  <h1 class="primary-color">¡Gracias por tu visita!</h1>
  <h2>Carlos' Portfolio © {{ infoService.getYear() }}</h2>
</section>
