<!-- Footer -->
<section id="footer">
  <div class="footer workspace">
    <div class="footer-top-section">
      <nav class="nav-options-copy footer-nav-options">
        <ul>
          <li><a href="#home">
              <div class="footer-icons">
                <span class="material-symbols-outlined">
                  home
                </span>
              </div>Home
            </a></li>
          <li><a href="#about">
              <div class="footer-icons">
                <span class="material-symbols-outlined">
                  person
                </span>
              </div>Sobre mi
            </a></li>
          <li>
            <a href="#projects">
              <div class="footer-icons">
                <span class="material-symbols-outlined">
                  work
                </span>
              </div>Proyectos
            </a>
          </li>
          <li>
            <a href="#skills">
              <div class="footer-icons">
                <span class="material-symbols-outlined">
                  priority
                </span>
              </div>Habilidades
            </a>
          </li>
          <li>
            <a href="#contact">
              <div class="footer-icons">
                <span class="material-symbols-outlined">
                  call
                </span>
              </div>Contacto
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="credits">
      <b class="primary-color">¡Gracias por tu visita!</b>
    </div>
    <div class="footer-bottom-section">
      <div>Carlos' Portfolio © {{ year }}</div>
    </div>
  </div>
</section>
<!-- Footer -->
