<section class="work-container">
  <section class="bg-sky"></section>
  <section class="work-info">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false"
      space-between="30" centered-slides="true" autoplay-delay="2000" effect="fade" cssMode="true"
      autoplay-disable-on-interaction="true">
      <swiper-slide lazy="true">
        <img loading="lazy" [src]="'assets/projects/spv/spv_empresas.jpg'" alt="Supervielle Empresas" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/spv/trf_home.png'" alt="Supervielle Empresas" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/spv/trf_contact.png'" alt="Supervielle Empresas" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/spv/trf_form.png'" alt="Supervielle Empresas" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/spv/trf_estado.png'" alt="Supervielle Empresas" />
      </swiper-slide>
    </swiper-container>

    <aside class="work-description">
      <section class="description-info">
        <h2>Información</h2>
        <p>Banco Supervielle Online Banking empresas, es un aplicativo web interno del banco, donde puedes realizar
          transferencias inmediatas individuales o judiciales (24/48h) para empresas.</p>
      </section>
      <section class="description-client">
        <h2>Cliente</h2>
        <p>Banco Supervielle</p>
      </section>
      <section class="description-social">
        <a class="link-website bg-supervielle"
          href="https://www.supervielle.com.ar/negocios/pymes/servicios-digitales/online-banking-empresas"
          target="_blank" rel="noopener noreferrer">
          Website
        </a>
        <ul>
          <li>
            <span class="material-symbols-outlined">
              calendar_month
            </span>
            05/10/2022 - Actualidad
          </li>
          <li>
            <span class="material-symbols-outlined">
              account_balance
              </span>
            Banca
          </li>
        </ul>
      </section>
    </aside>
  </section>

  <section class="work-navigation bg-supervielle">
    <a href="works/tiscompany">
      <span class="material-symbols-outlined">
        arrow_back
      </span>
      Tis Company
    </a>

    <a href="works/yape">
      Yape
      <span class="material-symbols-outlined">
        arrow_forward
      </span>
    </a>
  </section>
</section>

<app-footer-works></app-footer-works>
