<section id="skills" class="skills">
  <section class="tech-skills">
    <h1><span>Habilidades&nbsp;</span><span class="primary-color">Técnicas</span></h1>

    <ng-template #projectTemplate let-skill>
      <article class="card-skill">
        <figure class="p-5">
          <img class="pointer-events-none" [src]="skill.image"
            [alt]="skill.name" [title]="skill.name" />
        </figure>
      </article>

    </ng-template>

    <app-custom-carousel [items]="lastSkills()" [itemTemplate]="projectTemplate" [visibleItems]="5"
      [itemsInMediumDevices]="4"
      [loop]="true" [autoplay]="true" [autoplayInterval]="2000" [showPagination]="false" />
  </section>

  <section class="soft-skills">
    <h1><span>Habilidades&nbsp;</span><span class="primary-color">Blandas</span></h1>
    <ul>
      <li>
        <img width="128" height="128"
          src="https://cdn-icons-png.flaticon.com/128/2464/2464191.png"
          alt="Buena actitud" />
        Actitud Positiva
      </li>
      <li>
        <img width="128" height="128" src="https://cdn-icons-png.flaticon.com/128/3201/3201615.png"
          alt="Buena comunicación" />
        Comunicación
      </li>
      <li>
        <img width="128" height="128" src="https://cdn-icons-png.flaticon.com/128/10162/10162796.png"
          alt="Comprometido" />
        Compromiso
      </li>
      <li>
        <img width="128" height="128"
        src="https://cdn-icons-png.flaticon.com/128/1703/1703879.png" alt="Creativo" />
        Creatividad
      </li>
      <li>
        <img width="128" height="128" src="https://cdn-icons-png.flaticon.com/128/10822/10822464.png"
          alt="Iniciativa propia" />
        Iniciativa
      </li>
      <li>
        <img width="128" height="128"
        src="https://cdn-icons-png.flaticon.com/128/2245/2245238.png" alt="Multi tarea" />
        Multitarea
      </li>
      <li>
        <img width="128" height="128" src="https://cdn-icons-png.flaticon.com/128/2191/2191159.png"
          alt="Responsable" />
        Responsabilidad
      </li>
      <li>
        <img width="128" height="128" src="https://cdn-icons-png.flaticon.com/128/7185/7185645.png"
          alt="Facilidad de trabajo en equipo" />
        Trabajo en equipo
      </li>
    </ul>
  </section>
</section>
