<section id="projects">
  <div class="portfolio workspace">
    <div class="top-section">
      <div class="projects-title">
        <h1><span>Mis&nbsp;</span><span class="primary-color">trabajos&nbsp;</span>recientes</h1>
      </div>

    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image">
              <img width="300" height="300" src="assets/projects/spv.webp" alt="Banco Supervielle" />
            </div>
            <div class="project-options">
              <h5>Banco Supervielle</h5>
              <a aria-label="Ver sitio web" href="https://www.supervielle.com.ar/personas" target="_blank"
                rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('supervielle')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/yape.jpeg" alt="Yape" /></div>
            <div class="project-options">
              <h5>Yape</h5>
              <a aria-label="Ver sitio web" href="https://www.yape.com.pe/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('yape')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" style="width: 200px; margin: 1rem auto;"
                src="assets/projects/movistar.png" alt="Movistar"/></div>
            <div class="project-options">
              <h5>Telefónica Movistar</h5>
              <a aria-label="Ver sitio web" href="https://movistaronline.pe/movistar-total" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('movistar')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/tlima.jpg" alt="Taxi Lima"/></div>
            <div class="project-options">
              <h5>Taxi Lima</h5>
              <a aria-label="Ver sitio web" href="https://www.taxilima.com.pe/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('taxilima')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/tkapital.jpg" alt="Kapital Taxi"/></div>
            <div class="project-options">
              <h5>Kapital Taxi</h5>
              <a aria-label="Ver sitio web" href="https://kapitalbusiness.pe/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('kapitaltaxi')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/etravel.jpg" alt="Excel Travel"/></div>
            <div class="project-options">
              <h5>Excel Travel</h5>
              <a aria-label="Ver sitio web" href="https://excelperu.com/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('exceltravel')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/tonline.jpg" alt="Online Taxi" /></div>
            <div class="project-options">
              <h5>Online Taxi</h5>
              <a aria-label="Ver sitio web" href="https://taxionlineperu.com/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('onlinetaxi')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/tpacifico.jpg" alt="Taxi Pacífico"/></div>
            <div class="project-options">
              <h5>Taxi Pacífico</h5>
              <a aria-label="Ver sitio web" href="https://www.facebook.com/p/Taxi-Pacifico-100066415487650/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('taxipacifico')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/amigovip.jpg" alt="Amigo Vip"/></div>
            <div class="project-options">
              <h5>Amigo Vip</h5>
              <a aria-label="Ver sitio web" href="https://grupoamigovip.com/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('amigovip')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/tarjeta.jpg" alt="Tarjeta Navideña"/></div>
            <div class="project-options">
              <h5>Tarjeta Navideña</h5>
              <a aria-label="Ver sitio web" href="https://www.instagram.com/nelicas.a.c/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('tarjeta')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/triptico.jpg" alt="Tríptico Publicitario"/></div>
            <div class="project-options">
              <h5>Tríptico Publicitario</h5>
              <a aria-label="Ver sitio web" href="https://www.instagram.com/nelicas.a.c/" target="_blank" rel="noreferrer noopener">
                <span class="material-symbols-outlined">
                  visibility
                </span>
              </a>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('triptico')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-project">
            <div class="project-image"><img width="300" height="300" src="assets/projects/tcompany.jpg" alt="Tis Company"/></div>
            <div class="project-options">
              <h5>Tis Company</h5>
              <a aria-label="Ver detalle del proyecto">
                <span class="material-symbols-outlined" (click)="goToDetails('tiscompany')">
                  newspaper
                </span>
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination">
      </div>
    </div>

  </div>

</section>
