<section class="work-container">
  <section class="bg-sky"></section>
  <section class="work-info">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false"
      space-between="30" centered-slides="true" autoplay-delay="2000" effect="fade" cssMode="true"
      autoplay-disable-on-interaction="true">
      <swiper-slide lazy="true">
        <img loading="lazy" [src]="'assets/projects/excel_travel/etravel1.png'" alt="Excel Travel" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/excel_travel/etravel2.png'" alt="Excel Travel" />
      </swiper-slide>
      <swiper-slide>
        <img loading="lazy" [src]="'assets/projects/excel_travel/etravel3.png'" alt="Excel Travel" />
      </swiper-slide>
    </swiper-container>

    <aside class="work-description">
      <section class="description-info">
        <h2>Información</h2>
        <p>
          Excel Travel es una empresa de taxi dedicada al traslado de personal corporativo.
        </p>
      </section>
      <section class="description-client">
        <h2>Cliente</h2>
        <p>Excel Travel</p>
      </section>
      <section class="description-social">
        <a class="link-website bg-excel-travel" href="https://excelperu.com/" target="_blank"
          rel="noopener noreferrer">
          Website
        </a>
        <ul>
          <li>
            <span class="material-symbols-outlined">
              calendar_month
            </span>
            09/01/2019
          </li>
          <li>
            <span class="material-symbols-outlined">
              directions_car
            </span>
            Transporte
          </li>
        </ul>
      </section>
    </aside>
  </section>

  <section class="work-navigation bg-excel-travel">
    <a href="works/kapitaltaxi">
      <span class="material-symbols-outlined">
        arrow_back
      </span>
      Kapital Taxi
    </a>

    <a href="works/onlinetaxi">
      Online Taxi
      <span class="material-symbols-outlined">
        arrow_forward
      </span>
    </a>
  </section>
</section>

<section class="visit">
  <h1 class="primary-color">¡Gracias por tu visita!</h1>
  <h2>Carlos' Portfolio © {{ infoService.getYear() }}</h2>
</section>
