<!-- Footer -->
<section id="footer">
  <div class="footer workspace">
    <div class="footer-top-section">
      <nav class="nav-options-copy footer-nav-options">
        <ul>
          <li><a href="/">
              <div class="footer-icons">
                <span class="material-symbols-outlined">
                  home
                </span>
              </div>Volver al portafolio
            </a></li>

        </ul>
      </nav>
    </div>
    <b class="primary-color text-greetings">¡Gracias por tu visita!</b>

    <div class="footer-bottom-section">
      <div>Carlos' Portfolio © {{ infoService.getYear() }}</div>
    </div>
  </div>
</section>
<!-- Footer -->
