<section class="experience">
  <h1>Experiencia</h1>
  <ul class="timeline">
    <li>
      <div class="timeline-badge color-primary">
        <span class="material-symbols-outlined">
          home_work
        </span>
      </div>
      <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-green">
        <div class="timeline-heading">
          <h3 class="mb-10 color-primary">Web UI Developer SSr.</h3>
          <h4 class="institution">Globant</h4>
          <span class="duration mb-5">Feb 2021 - Actualidad</span>
        </div>
        <div class="timeline-body">
          <h4>Banco Supervielle - Argentina</h4>
          <span class="timework">Oct 2022 - Actualidad</span>
          <ul class="mt-20">
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Desarrollo de nuevas funcionalidades a los distintos Microfrontends, Inmediatas,
              Agenda, BackOffice.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Nuevas interfaces en Figma, mejora de soluciones al proyecto usando HTML5, Scss,
              TypeScript y Angular 12+.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Pruebas unitarias con Jasmine y de integración con Cypress.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Despliegue de aplicaciones con pipelines y rundeck.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Uso de biblioteca de componentes interna llamada Kite.
            </li>
          </ul>
          <hr class="border-primary" />
          <h4>Yape Web - BCP</h4>
          <span class="timework">Feb 2021 - Sep 2022</span>
          <ul class="mt-20">
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Desarrollo de nuevas funcionalidades, interfaces en Figma, mejora de soluciones
              al proyecto usando HTML5, Scss, TypeScript y Angular 9.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Mejora de optimización de carga, performance, accesibilidad, buenas prácticas y
              SEO.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Buenas prácticas siguiendo recomendaciones con SonarQube y Confluence.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Deploy de aplicaciones con Blob Storage de Azure y Pipelines con Jenkins.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Integración de servicios y contenido con DatoCMS (Content Manager Service).
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Implementación de pruebas unitarias hacia el 97% de coverage.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Desarrollo de estructura multi-idioma y soporte para traducción a Quechua con
              Squoia (VM).
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Documentación en Confluente, participación en ceremonias SCRUM.
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge color-secondary">
        <span class="material-symbols-outlined">
          workspace_premium
        </span>
      </div>
      <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-blue">
        <div class="timeline-heading">
          <h3 class="mb-10 color-secondary">Front-End Developer</h3>
          <h4 class="institution">VASS LATAM</h4>
          <span class="duration">Jun 2019 — Feb 2021</span>
        </div>
        <div class="timeline-body">
          <ul class="mt-20">
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Desarrollador líder Front-End en el squad Oferta Comercial y Front-End
              Transversal para la Tribu Stark de Telefónica.
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Supervisión, capacitación y acompañamiento para el squad Front-End.
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Desarrollo de componentes con Angular 6+, en conjunto con TypeScript, Sass, etc.
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Experiencia trabajando con repositorios Git y estrategia de ramas (branches)
              como GitFlow.
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Desarrollo e implementación de Pruebas Unitarias (Unit Testing) con Karma y
              Jasmine
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Despliegue de aplicaciones en Cloud Foundry utilizando Pipelines (DevOps) de IBM
              Cloud.
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Trabajo con metodología ágil SCRUM y Jira.
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge color-primary">
        <span class="material-symbols-outlined">
          work
        </span>
      </div>
      <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-green">
        <div class="timeline-heading">
          <h3 class="mb-10 color-primary">Programador Front End</h3>
          <h4 class="institution">Nelica S.A.C</h4>
          <span class="duration mb-5">Abr 2018 - Feb 2019</span>
        </div>
        <div class="timeline-body">
          <ul class="mt-20">
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Desarrollo de
              páginas web, usando HTML5, CSS3, Javascript y el framework Boostrap
              4.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Desarrollo de
              Intranets para empresas del sector transporte, usando ASP.NET junto
              al API de Google Maps.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Responsable del área de sistemas, supervisión del desarrollo de las páginas web.
            </li>
            <li>
              <span class="material-symbols-outlined color-primary">
                assignment_turned_in
              </span> Trabajo en equipo con el área de diseño y marketing para los nuevos desarrollos.
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge color-secondary">
        <span class="material-symbols-outlined">
          lan
        </span>
      </div>
      <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-blue">
        <div class="timeline-heading">
          <h3 class="mb-10 color-secondary">Practicante Pre-Profesional en Desarrollo y Mantenimiento
            de Software</h3>
          <h4 class="institution">Biobytes</h4>
          <span class="duration">Nov 2017 — Feb 2018</span>
        </div>
        <div class="timeline-body">
          <ul class="mt-20">
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Programación
              de pequeños módulos en lenguaje Java.
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Desarrollo de
              servicios web (RESTful) en Java usando el framework Spring.
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Pruebas
              unitarias de software (Debugger).
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Investigación.
            </li>
            <li>
              <span class="material-symbols-outlined color-secondary">
                assignment_turned_in
              </span> Solución de
              problemas encargados.
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="clearfix no-float"></li>
  </ul>
</section>

<section class="experience">
  <h1>Educación</h1>
  <ul class="timeline">
    <li>
      <div class="timeline-badge color-primary">
        <span class="material-symbols-outlined">
          school
        </span>
      </div>
      <div class="timeline-panel mdl-card mdl-shadow--2dp pt-30 pb-30 border-top-green">
        <div class="timeline-heading">
          <h3 class="mb-10 color-primary">Ingeniería de Software</h3>
          <h4 class="institution">Universidad Tecnológica del Perú</h4>
          <span class="duration mb-5">2013 - 2017</span>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge color-secondary">
        <span class="material-symbols-outlined">
          card_membership
        </span>
      </div>
      <div class="timeline-panel mdl-card mdl-shadow--2dp  pt-30 pb-30 border-top-blue">
        <div class="timeline-heading">
          <h3 class="mb-10 color-secondary">Inglés - Intermedio</h3>
          <h4 class="institution">Portal Go Fluent</h4>
          <span class="duration mb-5">2024 - Actualmente</span>
          <hr class="border-secondary" />
          <h4 class="institution">Instituto de Inglés de la UTP</h4>
          <span class="duration mb-5">2014 - 2015</span>
        </div>
      </div>
    </li>
    <li class="clearfix no-float"></li>
  </ul>
</section>
